@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.navbar {
  background-color: color(light);
  padding: 10px 100px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  @include tablet {
    padding: 10px 40px;
  }

  @include phone {
    padding: 0 20px;
  }

  .logo {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;

    @include small_phone {
      margin-top: 11px;
    }
    @include phone {
      margin-top: 7px;
    }

    div {
      height: 60px;

      @include phone {
        height: 45px;
      }

      @include small_phone {
        height: 40px;
      }

      img {
        height: 100%;
      }
    }
  }

  .menu-toggle {
    @include phone;
    @include medium_phone {
      display: block;
      width: 40px;
      height: 40px;
      margin: 10px 0;
      float: right;
      cursor: pointer;
      text-align: center;
      font-size: 30px;
      color: color(primary);

      &:before {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
      }
      &.active:before {
        content: '\f00d';
      }
    }
  }

  nav {
    font-family: 'Poppins', sans-serif;
    float: right;

    @include phone;
    @include medium_phone {
      display: none;

      &.active {
        display: block;
        width: 100%;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      position: relative;

      @include phone;
      @include medium_phone {
        display: block;
      }

      li {
        list-style: none;
        margin: 0 5px;

        a {
          display: block;
          margin: 10px 0;
          padding: 10px 15px;
          text-decoration: none;
          color: color(dark);
        }

        a.active,
        a:hover {
          background-color: color(primary);
          color: color(light);
          transition: 0.2s;
          box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
            0px 2px 2px 0px rgba(0, 0, 0, 0.14),
            0px 1px 5px 0px rgba(0, 0, 0, 0.12);
        }

        &.avatar-container {
          position: relative;

          .profile {
            display: flex;
            align-items: center;
            height: 100%;
            @include phone;
            @include medium_phone {
              margin: 10px 0;
            }
          }

          @include phone;
          @include medium_phone {
            display: block;
          }

          .profile-sub-menu {
            display: none;
            position: absolute;
            top: 75px;
            right: 0;
            background-color: color(light);
            width: 225px;
            height: auto;
            border: 1px solid color(accent);
            border-radius: 3px;
            z-index: 1;
            box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.125),
              -10px -10px 30px rgba(0, 0, 0, 0.125);

            @include phone;
            @include medium_phone {
              position: relative;
              top: 10px;
              width: 100%;
              border: none;
              box-shadow: none;
              margin-bottom: 20px;
            }

            &:before {
              content: '';
              position: absolute;
              top: -20px;
              right: 20px;
              border: 10px solid;
              border-color: transparent transparent color(light) transparent;

              @include phone;
              @include medium_phone {
                border: 0;
              }
            }

            ul {
              display: block;

              li {
                border-bottom: 1px solid #f1f2f4;

                &:last-child {
                  border-bottom: 0;
                }

                a {
                  margin: 0;
                  padding: 15px 25px;
                  font-size: 14px;
                  color: #999;
                  position: relative;

                  @include phone;
                  @include medium_phone {
                    padding: 15px;
                  }

                  i {
                    margin-right: 10px;
                  }

                  &:hover {
                    background-color: #d1fffd;
                    color: color(secondary);
                    box-shadow: none;
                  }
                }
              }
            }
          }

          span {
            margin-left: 5px;
            color: #999;
            font-size: 13px;
            cursor: pointer;

            i {
              margin-left: 5px;
            }
            &:hover {
              color: color(primary);
            }
          }

          .avatar {
            background-color: color(secondary);
            width: 30px;
            height: 30px;
            font-size: 15px;
            border: 2px solid #ccc;
          }

          &.active {
            .profile-sub-menu {
              display: block;
            }
          }
        }

        &.notifications {
          position: relative;
          display: flex;
          align-items: center;

          @include phone;
          @include medium_phone {
            display: block;
          }

          i {
            font-size: 25px;
            color: #999;
            margin: 0 20px;
            cursor: pointer;

            @include phone;
            @include medium_phone {
              margin: 20px 0;
            }

            &:hover {
              color: color(primary);
            }
          }

          .notifications-badge {
            background-color: color(danger);
            color: color(light);
            height: 20px;
            width: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 11px;
            border-radius: 50%;
            position: absolute;
            top: 12px;
            right: 8px;

            @include phone;
            @include medium_phone {
              left: 15px;
            }
          }

          .notifications-sub-menu {
            display: none;
            position: absolute;
            top: 75px;
            right: 0;
            background-color: color(light);
            width: 350px;
            height: auto;
            border: 1px solid color(accent);
            border-radius: 3px;
            z-index: 1;
            box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.125),
              -10px -10px 30px rgba(0, 0, 0, 0.125);

            @include phone;
            @include medium_phone {
              position: relative;
              top: 0;
              width: 100%;
              box-shadow: none;
              border: 0;
              margin-bottom: 20px;
            }

            &:before {
              content: '';
              position: absolute;
              top: -20px;
              right: 20px;
              border: 10px solid;
              border-color: transparent transparent color(light) transparent;

              @include phone;
              @include medium_phone {
                border: none;
              }
            }

            ul {
              display: block;

              li {
                border-bottom: 1px solid #f1f2f4;
                padding: 10px 20px;
                display: flex;
                align-items: center;
                cursor: pointer;

                @include phone;
                @include medium_phone {
                  padding: 10px;
                }

                .message {
                  font-size: 14px;
                  color: #999;
                }

                .icon {
                  @include phone;
                  @include medium_phone {
                    width: 50px;
                  }
                }

                &:last-child {
                  border-bottom: 0;
                }

                &:hover {
                  background-color: #d1fffd;
                  transition: 0.4s;

                  .message {
                    color: color(secondary);
                  }

                  .icon {
                    i {
                      color: color(secondary);
                    }
                  }
                }
              }

              .no-notification {
                font-size: 14px;
                color: #999;
                padding: 20px;
                display: flex;
                justify-content: center;
              }
              .show-all {
                padding: 10px;
                display: flex;
                justify-content: center;
                color: color(primary);

                &:hover {
                  background-color: #ffe5f4;
                  transition: 0.4s;
                }
              }
            }
          }

          &.active {
            .notifications-sub-menu {
              display: block;
            }
          }
        }
      }
    }
  }

  .clearfix {
    clear: both;
  }
}
